* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */

html,
body {
    width: 100%;
    height: 100%;
    background-color: #FF4132;
    font-family: Arial, Helvetica, sans-serif;
}

/* just to be sure these are full screen*/

canvas {
    display: block;
}

/* To remove the scrollbars */


.btn {
    position: relative;
    display: block;
    width: 100px;
    margin: auto;
    padding: 7px;
    
    background-color: #fff;
    border: 1px solid #ccc;
  
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    transform-style: flat;
    transition: all 250ms ease-out;
    
  
  }
  
  .swap a:hover {
      color:#FF4132;
  
  }

  .swap {

        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999999;

      

  }
  .paper {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    border-color: #dedede;
  }